.fondo1 {
    background-image: url("../images/fondo1.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.left-text1 {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    color: #494F66;
}

.left-text2 {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -0.2px;
    color: #494F66;
}

.left-text2-span {
    color: #ef3340;
}

.left-text3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    display: flex;
    align-items: center;
    /* Gray_2_Paragraph */
    color: #676F8F;
    width: 288px;
}

.left-text4 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 20px;
    /* identical to box height, or 167% */
    letter-spacing: 0.2px;
    /* Gray_3 */
    color: #A3ABCC;
}

.right-textTop1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    /* identical to box height, or 167% */
    display: flex;
    align-items: center;
    text-align: right;
    letter-spacing: 0.2px;
    /* Gray_2_Paragraph */
    color: #676F8F;
}

.right-textTop1_color2 {
    color: #A3ABCC;
}

.right-textTop2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */
    text-align: right;
    /* Acian_2_Hover */
    color: #6F7DFF;
}

.formHome {
    width: 330px;
}

.formHome-text1 {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 36px;
    /* identical to box height, or 129% */
    letter-spacing: -0.2px;
    /* Gray_1_Títulos */
    color: #494F66;
}

.input_height {
    height: 3.5rem;
}

.left2-text1 {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #494F66;
}

.left2-text2 {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #C5CBE0;
}

.left2-bg {
    background-color: #F7F8FC;
    height: calc(100vh - 64px);
    box-sizing: border-box;
}

.arrow-left {
    border-radius: 999px;
    border-color: #EF3340;
    border-width: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22.5px;
    height: 22.5px;
}

.arrow-left i {
    border: solid #EF3340;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    margin-left: 2.5px;
}

.backText {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */
    display: flex;
    align-items: center;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    /* Gray_3 */
    color: #A3ABCC;
}

.right2-h1 {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 48px;
    /* identical to box height, or 120% */
    letter-spacing: -0.6px;
    /* Gray_1_Títulos */
    color: #494F66;
}

.right2-h1 span {
    color: #EF3340;
}

.right2-text1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #676F8F;
}

.formDataCar {
    width: 384px;
}

.right2-text2 {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #494F66;
}

.right2-text3 {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    color: #676F8F;
}

.right2-text4 {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    text-align: center;
    letter-spacing: 0.2px;
    /* Gray_1_Títulos */
    color: #494F66;
}

.right2-text5 {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    color: #494F66;
}

.right2-text5_border {
    border-bottom: 1px solid #E4E8F7;
    width: 224px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.right2-text6 {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
    color: #494F66;
    width: 128px;
    height: 48px;
}

.right2-link {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    color: #6F7DFF;
}

.inputIncrement {
    width: 160px;
    height: 56px;
    left: 728px;
    top: 549px;
    border: 1px solid #C5CBE0;
    box-sizing: border-box;
    border-radius: 8px
}

@media (max-width:767px) {
    .fondo1 {
        background-image: none;
    }
    .left-text1 {
        font-size: 10px;
    }
    .left-text2 {
        font-size: 28px;
        line-height: 36px;
    }
    .formHome-text1 {
        font-size: 24px;
    }
}